# exclude the .vscode extensions.
.vscode/*

# exclude any of the build-time artifacts.
bin/*

# ignoring virtual environments and localized DLL files.
.venv/*
src/pybutter/*.dll
*.egg-info
build/*
__pycache__
.pytest_cache

# ignoring the bazel outputs.
bazel*
*bazel.lock

# some folders I don't want to include...
.cproject
.settings/

#files being edited/autosaved from matlab
*~
*.asv

# make and build files
*.lst
*.o
*.eep
*.lss
*.map
*.sym
*.exe
*.sln

# All of the CMAKE generated outputs, (see github's gitignore page.)
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Visual Studio
*.vcxproj
*.vcxproj.filters

# ignore the build directory.
[Bb]uild/
cmake-build/
cmake-bin/

# ignoring generated config files (not excluding the template.)
# include/version.h