# exclude the .vscode extensions.
.vscode/*

# exclude any of the build-time artifacts.
bin/*

# ignoring virtual environments and localized DLL files.
.venv/*
src/pybutter/*.dll
*.egg-info
build/*
__pycache__
.pytest_cache

# ignoring the bazel outputs.
core/bazel*
*bazel.lock