# exclude the .vscode extensions.
butter2sos.jl/Manifest.toml
.vscode/*

# exclude any of the build-time artifacts.
bin/*

# ignoring virtual environments and localized DLL files.
python/pybutter/.venv/*
python/pybutter/src/pybutter/*.dll
*.egg-info
python/pybutter/build/*